In [4]:
#%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from warnings import filterwarnings
filterwarnings('ignore')

In [5]:
df_train_features=pd.read_csv('dengue_features_train.csv')

In [6]:
df_train_features.head()

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,sj,1990,18,1990-04-30,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,...,32.00,73.365714,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0
1,sj,1990,19,1990-05-07,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,...,17.94,77.368571,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6
2,sj,1990,20,1990-05-14,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,...,26.10,82.052857,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4
3,sj,1990,21,1990-05-21,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,...,13.90,80.337143,15.36,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0
4,sj,1990,22,1990-05-28,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,...,12.20,80.460000,7.52,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8

In [7]:
df_train_features.count()

city                                     1456
year                                     1456
weekofyear                               1456
week_start_date                          1456
ndvi_ne                                  1262
ndvi_nw                                  1404
ndvi_se                                  1434
ndvi_sw                                  1434
precipitation_amt_mm                     1443
reanalysis_air_temp_k                    1446
reanalysis_avg_temp_k                    1446
reanalysis_dew_point_temp_k              1446
reanalysis_max_air_temp_k                1446
reanalysis_min_air_temp_k                1446
reanalysis_precip_amt_kg_per_m2          1446
reanalysis_relative_humidity_percent     1446
reanalysis_sat_precip_amt_mm             1443
reanalysis_specific_humidity_g_per_kg    1446
reanalysis_tdtr_k                        1446
station_avg_temp_c                       1413
station_diur_temp_rng_c                  1413
station_max_temp_c                       1436
station_min_temp_c                       1442
station_precip_mm                        1434
dtype: int64

In [8]:
df_train_features.shape

(1456, 24)

In [9]:
df_test_features=pd.read_csv('dengue_features_test.csv')

In [10]:
df_test_features.head()

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,sj,2008,18,2008-04-29,-0.0189,-0.018900,0.102729,0.091200,78.60,298.492857,...,25.37,78.781429,78.60,15.918571,3.128571,26.528571,7.057143,33.3,21.7,75.2
1,sj,2008,19,2008-05-06,-0.0180,-0.012400,0.082043,0.072314,12.56,298.475714,...,21.83,78.230000,12.56,15.791429,2.571429,26.071429,5.557143,30.0,22.2,34.3
2,sj,2008,20,2008-05-13,-0.0015,NaN,0.151083,0.091529,3.66,299.455714,...,4.12,78.270000,3.66,16.674286,4.428571,27.928571,7.785714,32.8,22.8,3.0
3,sj,2008,21,2008-05-20,NaN,-0.019867,0.124329,0.125686,0.00,299.690000,...,2.20,73.015714,0.00,15.775714,4.342857,28.057143,6.271429,33.3,24.4,0.3
4,sj,2008,22,2008-05-27,0.0568,0.039833,0.062267,0.075914,0.76,299.780000,...,4.36,74.084286,0.76,16.137143,3.542857,27.614286,7.085714,33.3,23.3,84.1

In [11]:
df_test_features.count()

city                                     416
year                                     416
weekofyear                               416
week_start_date                          416
ndvi_ne                                  373
ndvi_nw                                  405
ndvi_se                                  415
ndvi_sw                                  415
precipitation_amt_mm                     414
reanalysis_air_temp_k                    414
reanalysis_avg_temp_k                    414
reanalysis_dew_point_temp_k              414
reanalysis_max_air_temp_k                414
reanalysis_min_air_temp_k                414
reanalysis_precip_amt_kg_per_m2          414
reanalysis_relative_humidity_percent     414
reanalysis_sat_precip_amt_mm             414
reanalysis_specific_humidity_g_per_kg    414
reanalysis_tdtr_k                        414
station_avg_temp_c                       404
station_diur_temp_rng_c                  404
station_max_temp_c                       413
station_min_temp_c                       407
station_precip_mm                        411
dtype: int64

In [12]:
df_test_features.shape

(416, 24)

In [13]:
df_labels_train=pd.read_csv('dengue_labels_train.csv')

In [14]:
df_labels_train.head()

  city  year  weekofyear  total_cases
0   sj  1990          18            4
1   sj  1990          19            5
2   sj  1990          20            4
3   sj  1990          21            3
4   sj  1990          22            6

In [15]:
df_labels_train.count()

city           1456
year           1456
weekofyear     1456
total_cases    1456
dtype: int64

In [16]:
df_labels_train.shape

(1456, 4)

In [17]:
df_train_features.isnull().sum()

city                                       0
year                                       0
weekofyear                                 0
week_start_date                            0
ndvi_ne                                  194
ndvi_nw                                   52
ndvi_se                                   22
ndvi_sw                                   22
precipitation_amt_mm                      13
reanalysis_air_temp_k                     10
reanalysis_avg_temp_k                     10
reanalysis_dew_point_temp_k               10
reanalysis_max_air_temp_k                 10
reanalysis_min_air_temp_k                 10
reanalysis_precip_amt_kg_per_m2           10
reanalysis_relative_humidity_percent      10
reanalysis_sat_precip_amt_mm              13
reanalysis_specific_humidity_g_per_kg     10
reanalysis_tdtr_k                         10
station_avg_temp_c                        43
station_diur_temp_rng_c                   43
station_max_temp_c                        20
station_min_temp_c                        14
station_precip_mm                         22
dtype: int64

In [18]:
df_test_features.isnull().sum()

city                                      0
year                                      0
weekofyear                                0
week_start_date                           0
ndvi_ne                                  43
ndvi_nw                                  11
ndvi_se                                   1
ndvi_sw                                   1
precipitation_amt_mm                      2
reanalysis_air_temp_k                     2
reanalysis_avg_temp_k                     2
reanalysis_dew_point_temp_k               2
reanalysis_max_air_temp_k                 2
reanalysis_min_air_temp_k                 2
reanalysis_precip_amt_kg_per_m2           2
reanalysis_relative_humidity_percent      2
reanalysis_sat_precip_amt_mm              2
reanalysis_specific_humidity_g_per_kg     2
reanalysis_tdtr_k                         2
station_avg_temp_c                       12
station_diur_temp_rng_c                  12
station_max_temp_c                        3
station_min_temp_c                        9
station_precip_mm                         5
dtype: int64

In [19]:
df_train_features.drop(columns=['week_start_date','ndvi_ne','ndvi_nw','year'],axis=1,inplace=True)

In [20]:
df_train_features.city.value_counts()

sj    936
iq    520
Name: city, dtype: int64

In [21]:
df_test_features.city.value_counts()

sj    260
iq    156
Name: city, dtype: int64

In [22]:
df_test_features.isna().sum()

city                                      0
year                                      0
weekofyear                                0
week_start_date                           0
ndvi_ne                                  43
ndvi_nw                                  11
ndvi_se                                   1
ndvi_sw                                   1
precipitation_amt_mm                      2
reanalysis_air_temp_k                     2
reanalysis_avg_temp_k                     2
reanalysis_dew_point_temp_k               2
reanalysis_max_air_temp_k                 2
reanalysis_min_air_temp_k                 2
reanalysis_precip_amt_kg_per_m2           2
reanalysis_relative_humidity_percent      2
reanalysis_sat_precip_amt_mm              2
reanalysis_specific_humidity_g_per_kg     2
reanalysis_tdtr_k                         2
station_avg_temp_c                       12
station_diur_temp_rng_c                  12
station_max_temp_c                        3
station_min_temp_c                        9
station_precip_mm                         5
dtype: int64

In [23]:
dataset_test=df_test_features

In [24]:
dataset_test.drop(columns=['week_start_date','ndvi_nw','ndvi_sw','year'],axis=1,inplace=True)

In [25]:
dataset_test.fillna(method='ffill',inplace=True)

In [26]:
test=dataset_test.iloc[:,0:21].values

In [27]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
labelencoder=LabelEncoder()
test[:,0]=labelencoder.fit_transform(test[:,0])

onehotencoder=OneHotEncoder(categorical_features=[1])
dataset_test=onehotencoder.fit_transform(test).toarray()

In [28]:
dataset=df_train_features

In [29]:
dataset.fillna(method='ffill',inplace=True)

In [30]:
#dengue_label_sj.drop(columns=['city'],axis=1,inplace=True)

In [31]:
X=dataset.iloc[:,0:20].values

In [32]:
X

array([['sj', 18, 0.19848329999999997, ..., 29.4, 20.0, 16.0],
       ['sj', 19, 0.1623571, ..., 31.7, 22.2, 8.6],
       ['sj', 20, 0.1572, ..., 32.2, 22.8, 41.4],
       ...,
       ['iq', 23, 0.2503571, ..., 32.2, 19.2, 7.4],
       ['iq', 24, 0.2788857, ..., 31.2, 21.0, 16.0],
       ['iq', 25, 0.2742143, ..., 33.7, 22.2, 20.4]], dtype=object)

In [33]:
y=df_labels_train.iloc[:,3].values

In [34]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
labelencoder=LabelEncoder()
X[:,0]=labelencoder.fit_transform(X[:,0])

onehotencoder=OneHotEncoder(categorical_features=[1])
dataset=onehotencoder.fit_transform(X).toarray()

In [165]:
from sklearn import linear_model, metrics 
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=1) 
  
# create linear regression object 
reg = linear_model.LinearRegression() 
  
# train the model using the training sets 
reg.fit(X_train, y_train) 
  

#print('Variance score: {}'.format(reg.score(X_test, y_test)))

y_pred = reg.predict(X_test) 
#print(y_pred)

Variance score: 0.11461802018656299

In [166]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred)

20.9845300962058

In [167]:
from sklearn import linear_model, metrics 
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=1) 
  
reg2=linear_model.LassoCV()
reg2.fit(X_train, y_train) 
  

#print('Variance score: {}'.format(reg2.score(X_test, y_test)))

y_pred2 = reg2.predict(X_test)

Variance score: 0.09348847285488815

In [168]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred2)

19.980817042445747

In [169]:
reg3=linear_model.ElasticNetCV()
reg3.fit(X_train, y_train) 
  

#print('Variance score: {}'.format(reg3.score(X_test, y_test)))

y_pred3 = reg3.predict(X_test)

Variance score: 0.09136976885407455

In [170]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred3)

19.876464201793244

In [171]:
reg4=linear_model.Ridge()
reg4.fit(X_train, y_train) 
  

#print('Variance score: {}'.format(reg4.score(X_test, y_test)))

y_pred4= reg4.predict(X_test)

Variance score: 0.10830117210861745

In [172]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred4)

20.386891060333394

In [173]:
from sklearn.svm import SVR
reg5=SVR(kernel='linear')
reg5.fit(X_train,y_train)

#print('Variance score: {}'.format(reg5.score(X_test, y_test)))

y_pred5= reg5.predict(X_test)

Variance score: 0.06138539689449185

In [174]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred5)

15.433446991170463

In [175]:
from sklearn.svm import SVR
reg6=SVR(kernel='rbf')
reg6.fit(X_train,y_train)

#print('Variance score: {}'.format(reg6.score(X_test, y_test)))

y_pred6= reg6.predict(X_test)

Variance score: -0.05001052100240866

In [176]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred6)

17.063383331891476

In [177]:
from sklearn.ensemble import BaggingRegressor
reg7=BaggingRegressor()
reg7.fit(X_train,y_train)

#print('Variance score: {}'.format(reg7.score(X_test, y_test)))

y_pred7= reg7.predict(X_test)

Variance score: 0.5806510481056377

In [178]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred7)

14.686301369863012

In [179]:
from sklearn.ensemble import AdaBoostRegressor
reg8=AdaBoostRegressor()
reg8.fit(X_train,y_train)

#print('Variance score: {}'.format(reg8.score(X_test, y_test)))

y_pred8= reg8.predict(X_test)

Variance score: -0.030841113598381487

In [180]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred8)

37.083123292655955

In [181]:
from sklearn.ensemble import GradientBoostingRegressor
reg9=GradientBoostingRegressor()
reg9.fit(X_train,y_train)

#print('Variance score: {}'.format(reg9.score(X_test, y_test)))

y_pred9= reg9.predict(X_test)

Variance score: 0.6164847181130235

In [182]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred9)

14.345148484208742

In [183]:
from sklearn.ensemble import RandomForestRegressor
reg10=RandomForestRegressor()
reg10.fit(X_train,y_train)
#print('Variance score: {}'.format(reg10.score(X_test, y_test)))

y_pred10= reg10.predict(X_test)

Variance score: 0.559761643996082

In [184]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred10)

15.326369863013696

In [189]:
y_pred9_1= reg9.predict(test).astype(int)

In [191]:
submission = pd.read_csv("submission_format.csv",
                         index_col=[0, 1, 2])

submission.total_cases = y_pred9_1
submission.to_csv("new_Values.csv")

In [ ]:
#lightgbm

In [36]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
# Importing the dataset

# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [59]:
import lightgbm as lgb
d_train = lgb.Dataset(x_train, label=y_train)
params = {}
params['learning_rate'] = 0.1
params['boosting_type'] = 'gbdt'

#params['metric'] = 'binary_logloss'
params['sub_feature'] = 0.75
params['num_leaves'] = 10
params['min_data'] = 50
params['max_depth'] = 10
clf = lgb.train(params, d_train, 100)

In [60]:
y_pred=clf.predict(x_test)

In [61]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test,y_pred)

16.578214067014994

In [62]:
y_test= clf.predict(test).astype(int)

In [63]:
y_test

array([41, 48, 41, 47, 49, 41, 41, 39, 41, 42, 41, 38, 42, 41, 42, 49, 42,
       42, 42, 42, 42, 42, 48, 42, 42, 41, 57, 48, 42, 42, 42, 45, 50, 41,
       49, 50, 56, 50, 41, 50, 49, 50, 42, 42, 42, 49, 49, 48, 42, 49, 45,
       41, 42, 49, 42, 42, 42, 41, 48, 42, 41, 45, 41, 42, 41, 42, 41, 41,
       41, 41, 41, 42, 49, 48, 48, 42, 42, 48, 48, 48, 48, 41, 41, 43, 49,
       42, 56, 56, 49, 41, 50, 42, 50, 43, 50, 41, 50, 57, 56, 39, 51, 45,
       49, 42, 55, 41, 41, 42, 42, 49, 41, 42, 42, 48, 41, 42, 48, 42, 41,
       48, 48, 41, 41, 42, 41, 42, 42, 42, 42, 42, 41, 48, 42, 49, 48, 48,
       50, 49, 41, 42, 41, 41, 48, 52, 55, 56, 56, 49, 37, 48, 56, 56, 48,
       42, 48, 42, 46, 41, 45, 48, 49, 42, 48, 42, 42, 42, 41, 41, 41, 41,
       41, 41, 42, 42, 41, 41, 42, 41, 48, 42, 42, 41, 41, 42, 42, 47, 49,
       48, 42, 42, 50, 42, 50, 56, 54, 50, 56, 41, 49, 56, 49, 41, 48, 54,
       42, 43, 42, 42, 39, 48, 42, 55, 42, 41, 38, 35, 43, 50, 41, 41, 41,
       48, 42, 42, 49, 42, 42, 41, 40, 43, 41, 41, 42, 42, 43, 48, 48, 48,
       49, 48, 48, 54, 63, 48, 49, 56, 56, 50, 49, 50, 45, 50, 48, 49, 49,
       48, 48, 54, 51, 48, 30, 30, 30, 30, 30, 30, 28, 30, 30, 30, 30, 30,
       30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 28, 30,
       30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30,
       30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30,
       30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 31,
       30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30,
       30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 28, 30, 30,
       30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 31,
       30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 28, 30, 30, 30, 30, 30, 30,
       30, 30, 30, 30, 30, 30, 30, 30])

In [64]:
submission = pd.read_csv("submission_format.csv",
                         index_col=[0, 1, 2])

submission.total_cases = y_test
submission.to_csv("new_Values.csv")