In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [0]:
x=pd.read_csv('https://s3.amazonaws.com/drivendata/data/44/public/dengue_features_train.csv')
y=pd.read_csv('https://s3.amazonaws.com/drivendata/data/44/public/dengue_labels_train.csv')
x_test=pd.read_csv('https://s3.amazonaws.com/drivendata/data/44/public/dengue_features_test.csv')
submission_file=pd.read_csv('https://s3.amazonaws.com/drivendata/data/44/public/submission_format.csv')

In [0]:
x.fillna(method='ffill', inplace=True)
x_test.fillna(method='ffill', inplace=True)
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1456 entries, 0 to 1455
Data columns (total 24 columns):
city                                     1456 non-null object
year                                     1456 non-null int64
weekofyear                               1456 non-null int64
week_start_date                          1456 non-null object
ndvi_ne                                  1456 non-null float64
ndvi_nw                                  1456 non-null float64
ndvi_se                                  1456 non-null float64
ndvi_sw                                  1456 non-null float64
precipitation_amt_mm                     1456 non-null float64
reanalysis_air_temp_k                    1456 non-null float64
reanalysis_avg_temp_k                    1456 non-null float64
reanalysis_dew_point_temp_k              1456 non-null float64
reanalysis_max_air_temp_k                1456 non-null float64
reanalysis_min_air_temp_k                1456 non-null float64
reanalysis_precip_amt_kg_per_m2          1456 non-null float64
reanalysis_relative_humidity_percent     1456 non-null float64
reanalysis_sat_precip_amt_mm             1456 non-null float64
reanalysis_specific_humidity_g_per_kg    1456 non-null float64
reanalysis_tdtr_k                        1456 non-null float64
station_avg_temp_c                       1456 non-null float64
station_diur_temp_rng_c                  1456 non-null float64
station_max_temp_c                       1456 non-null float64
station_min_temp_c                       1456 non-null float64
station_precip_mm                        1456 non-null float64
dtypes: float64(20), int64(2), object(2)
memory usage: 273.1+ KB

In [0]:
features=['city','year','weekofyear','ndvi_se','station_avg_temp_c','ndvi_sw','reanalysis_dew_point_temp_k','reanalysis_air_temp_k','ndvi_ne','reanalysis_max_air_temp_k','reanalysis_min_air_temp_k','ndvi_nw','reanalysis_tdtr_k','precipitation_amt_mm','reanalysis_precip_amt_kg_per_m2','station_precip_mm']

In [0]:
features1=['ndvi_ne','year','weekofyear','ndvi_se','ndvi_nw','reanalysis_air_temp_k','precipitation_amt_mm','ndvi_sw','reanalysis_dew_point_temp_k','reanalysis_precip_amt_kg_per_m2','station_precip_mm','station_avg_temp_c','station_diur_temp_rng_c']

In [0]:
fe=['year','weekofyear','station_avg_temp_c','reanalysis_dew_point_temp_k','ndvi_ne','reanalysis_tdtr_k']

In [0]:
X=x[fe]
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1456 entries, 0 to 1455
Data columns (total 6 columns):
year                           1456 non-null int64
weekofyear                     1456 non-null int64
station_avg_temp_c             1456 non-null float64
reanalysis_dew_point_temp_k    1456 non-null float64
ndvi_ne                        1456 non-null float64
reanalysis_tdtr_k              1456 non-null float64
dtypes: float64(4), int64(2)
memory usage: 68.3 KB

In [0]:
#X['city1']=np.where(X['city']=='sj',1,-1)
#X.drop(columns='city',inplace=True)

In [0]:
y.drop(columns='city',inplace=True)
y.drop(columns='year',inplace=True)
y.drop(columns='weekofyear',inplace=True)

In [0]:
X.info()
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1456 entries, 0 to 1455
Data columns (total 6 columns):
year                           1456 non-null int64
weekofyear                     1456 non-null int64
station_avg_temp_c             1456 non-null float64
reanalysis_dew_point_temp_k    1456 non-null float64
ndvi_ne                        1456 non-null float64
reanalysis_tdtr_k              1456 non-null float64
dtypes: float64(4), int64(2)
memory usage: 68.3 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1456 entries, 0 to 1455
Data columns (total 1 columns):
total_cases    1456 non-null int64
dtypes: int64(1)
memory usage: 11.5 KB

In [0]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1456 entries, 0 to 1455
Data columns (total 1 columns):
total_cases    1456 non-null int64
dtypes: int64(1)
memory usage: 11.5 KB

In [0]:
from sklearn.model_selection import train_test_split
seed = 0
test_size = 0.2
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=seed)

In [0]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
from sklearn.metrics import mean_absolute_error
predictions = lr.predict(X_test)
print("Mean Absolute Error: " + str(mean_absolute_error(predictions, y_test)))

Mean Absolute Error: 21.88485534032757

In [0]:
from sklearn import tree
dt=tree.DecisionTreeRegressor()
dt.fit(X_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [0]:
from sklearn.metrics import mean_absolute_error
predictions = dt.predict(X_test)
print("Mean Absolute Error: " + str(mean_absolute_error(predictions, y_test)))

Mean Absolute Error: 11.256849315068493

In [0]:
 from sklearn.ensemble import RandomForestRegressor
 reg=RandomForestRegressor()
 reg.fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [0]:
reg.feature_importances_

array([0.35915304, 0.2247919 , 0.06588476, 0.0658177 , 0.17350899,
       0.11084361])

In [0]:
from sklearn.metrics import mean_absolute_error
predictions = reg.predict(X_test)
print("Mean Absolute Error: " + str(mean_absolute_error(predictions, y_test)))

Mean Absolute Error: 11.191438356164385

In [0]:
from xgboost import XGBRegressor
my_model = XGBRegressor(learning_rate=0.1,subsample=0.75,max_depth=6)
my_model.fit(X_train, y_train)

[17:59:04] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=6, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=0.75, verbosity=1)

In [0]:
from sklearn.metrics import mean_absolute_error
predictions = my_model.predict(X_test)
print("Mean Absolute Error: " + str(mean_absolute_error(predictions, y_test)))

Mean Absolute Error: 10.132043523229148

In [0]:
model_full=XGBRegressor(learning_rate=0.1,subsample=0.75,max_depth=6)
model_full.fit(X,y)
x_test=x_test[features]
x.head()
x_test.head()

[17:59:05] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

  city  year  ...  reanalysis_precip_amt_kg_per_m2  station_precip_mm
0   sj  2008  ...                            25.37               75.2
1   sj  2008  ...                            21.83               34.3
2   sj  2008  ...                             4.12                3.0
3   sj  2008  ...                             2.20                0.3
4   sj  2008  ...                             4.36               84.1

[5 rows x 16 columns]

In [0]:
X.info()
x_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1456 entries, 0 to 1455
Data columns (total 6 columns):
year                           1456 non-null int64
weekofyear                     1456 non-null int64
station_avg_temp_c             1456 non-null float64
reanalysis_dew_point_temp_k    1456 non-null float64
ndvi_ne                        1456 non-null float64
reanalysis_tdtr_k              1456 non-null float64
dtypes: float64(4), int64(2)
memory usage: 68.3 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 416 entries, 0 to 415
Data columns (total 16 columns):
city                               416 non-null object
year                               416 non-null int64
weekofyear                         416 non-null int64
ndvi_se                            416 non-null float64
station_avg_temp_c                 416 non-null float64
ndvi_sw                            416 non-null float64
reanalysis_dew_point_temp_k        416 non-null float64
reanalysis_air_temp_k              416 non-null float64
ndvi_ne                            416 non-null float64
reanalysis_max_air_temp_k          416 non-null float64
reanalysis_min_air_temp_k          416 non-null float64
ndvi_nw                            416 non-null float64
reanalysis_tdtr_k                  416 non-null float64
precipitation_amt_mm               416 non-null float64
reanalysis_precip_amt_kg_per_m2    416 non-null float64
station_precip_mm                  416 non-null float64
dtypes: float64(13), int64(2), object(1)
memory usage: 52.1+ KB

In [0]:
x_test['city1']=np.where(x_test['city']=='sj',1,-1)
x_test.drop(columns='city',inplace=True)

In [0]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 416 entries, 0 to 415
Data columns (total 16 columns):
year                               416 non-null int64
weekofyear                         416 non-null int64
ndvi_se                            416 non-null float64
station_avg_temp_c                 416 non-null float64
ndvi_sw                            416 non-null float64
reanalysis_dew_point_temp_k        416 non-null float64
reanalysis_air_temp_k              416 non-null float64
ndvi_ne                            416 non-null float64
reanalysis_max_air_temp_k          416 non-null float64
reanalysis_min_air_temp_k          416 non-null float64
ndvi_nw                            416 non-null float64
reanalysis_tdtr_k                  416 non-null float64
precipitation_amt_mm               416 non-null float64
reanalysis_precip_amt_kg_per_m2    416 non-null float64
station_precip_mm                  416 non-null float64
city1                              416 non-null int64
dtypes: float64(13), int64(3)
memory usage: 52.1 KB

In [0]:
test_pred=model_full.predict(x_test).astype(int)
submission=pd.read_csv('https://s3.amazonaws.com/drivendata/data/44/public/submission_format.csv',index_col=[0,1,2])
submission.total_cases=test_pred
submission.to_csv('values.csv')

ValueError: ignored